<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>pack.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exit</servlet-name>
        <servlet-class>pack.Exit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>pack.MainPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Destroy</servlet-name>
        <servlet-class>pack.Destroy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>pack.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertingBook</servlet-name>
        <servlet-class>pack.InsertingBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyAll</servlet-name>
        <servlet-class>pack.BuyAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exit</servlet-name>
        <url-pattern>/Exit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/MainPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Destroy</servlet-name>
        <url-pattern>/Destroy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertingBook</servlet-name>
        <url-pattern>/InsertingBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyAll</servlet-name>
        <url-pattern>/BuyAll</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
